.content {
	margin: 20px;
	
}

body {
	font-family: monospace;
	margin: 0;
}

.menu {
	text-align: left;
}

footer {
	background-color: lightcyan;
	text-align: center;
}

.article {
	background-color: #eaeaea;
	padding: 5px
}

.heading {
	background-color: slategray;
	color: white;
	padding: 5px;
}

p {
	margin: 0;
}
